{% include "base.html" %}

{% block navbar %}{%endblock%}

{% block content %}
    <p></p>
    <div class="container-sm">
        <form action = "{{url_for('analyze')}}" method="POST">
            <table  class="table">
                <thead>
                    <tr>
                        {% for col in column_names %}
                        <th>{{col}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="table_group-divider">
                    {% for row in row_data %}
                    <tr>
                        {%for col, row_ in zip(column_names, row) %}
                            {% if col == "Analyze" %}
                                <td><input type="radio" name="tickers" id="{{row[0]}}" value="{{row[0]}}"></input></td>
                            {%else%}
                                <td>{{row_}}</td>
                            {%endif%}
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <button type="submit" class="btn btn-dark">Analyze ticker</button>
        </form>
    </div>

    

{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}